In [77]:
import numpy as np
import pandas as pd
import geopy
import numba
from geopy.geocoders import Nominatim
from timeit import default_timer as timer

In [78]:
geolocator = Nominatim(user_agent="grant")

In [79]:
df = pd.read_csv('/Users/gbarry/desktop/cleandata.csv')

In [80]:
df.head()

   Unnamed: 0               address   price
0           0  3050 birch hollow dr  1095.0
1           1          912 rose ave  2000.0
2           3     1505 natalie lane  1385.0
3           4     1505 natalie lane  1185.0
4           6     1505 natalie lane  1375.0

In [37]:
def add_arbor(list):
    newaddy = []
    for addr in list:
        if addr.find("ann arbor") == -1:
            new = addr + " ann arbor"
                
        if addr.find("michigan") == -1:
            new = new + " michigan"
            
        newaddy.append(new)
    return newaddy

In [38]:
df_test = df['address'][:100]
df_test = add_arbor(df_test)

In [ ]:
def timer(counter, list):

In [76]:

def find_coord(array):
    latitude = []
    longitude = []
    
    divisor = len(array)/100
    counter = 0
    for addr in array:
        
        counter += 1
        if not counter%divisor:
            print((counter/len(array)) * 100,'%',end='\r')
            
        try: 
            location = geolocator.geocode(addr)
            lat = location.latitude
            long = location.longitude
            latitude.append(lat)
            longitude.append(long)
        except:
            lat = None
            long = None
            latitude.append(lat)
            longitude.append(long)    
        
    return(latitude,longitude)

In [59]:
lat,long = find_coord(df_test)

In [48]:
lat = pd.Series(lat)
long = pd.Series(long)
pd_new = pd.DataFrame()
pd_new = pd.concat([lat, long], axis=1, keys=['lat', 'long'])

In [49]:
pd_na = pd_new[pd_new['lat'].isna()]
len(pd_na.index)
print("percent NaN =", (len(pd_na.index)/len(pd_new.index))*100, "%")

percent NaN = 43.4 %

In [75]:
import numba
from random import random

@numba.jit
def sum():
    total = 0
    for i in range(100000000):
        total += random()
    return total

def sum2():
    total = 0
    for i in range(100000000):
        total += random()
    return total


start = timer()
hi = sum()
duration1 = timer() - start
duration1

start2 = timer()
hi2 = sum2()
duration2 = timer() - start2

duration2/duration1

10.245723023989214