In [1]:
import numpy as np
import pandas as pd
import re
import json
import matplotlib.pyplot as plt
from scipy.stats import norm
import matplotlib.mlab as mlab
import geopy
from geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")

In [3]:
location = geolocator.geocode("2101 Bonisteel Blvd, Ann Arbor, MI 48109")

In [4]:
location

Location(Pierpont Commons, 2101, Bonisteel Boulevard, Ann Arbor, Washtenaw County, Michigan, 48109, United States of America, (42.2911506, -83.71737674545454, 0.0))

In [8]:
addresses = ["127 Forest Ave Royal Oak","1207 Willard Ann Arbor","960 Birch Hollow Ann Arbor"]

In [9]:
get_cords(addresses)

([42.496122434343434, 42.2739616, 42.239178],
 [-83.1440618080808, -83.7341632257313, -83.7161817])

In [75]:
from geopy.distance import great_circle
def distances(lat,lon):
    landmarks = pd.read_csv('..../Housing-Geocoding/Markers Address.csv')
    land_lat = list(landmarks["latitude"])
    land_lon = list(landmarks["longitude"])
    distances = [[None]*len(land_lat)]
    for la, lo in zip(lat,lon):
        for landmark_lat, landmark_lon, in len(land_lat):
            
            
            
            
            return(distances)

In [11]:
landmarks = pd.read_csv('../Housing-Geocoding/Markers Address.csv')

In [12]:
landmarks = landmarks.loc[landmarks["Address"].notna()]

In [10]:
list(landmarks["Address"])

NameError: name 'landmarks' is not defined

In [13]:
landmarks["Address"] = ['1109 Geddes Ave, Ann Arbor, MI 48109',
 '2101 Bonisteel Blvd, Ann Arbor, MI 48109',
 '1201 S Main St, Ann Arbor, MI 48104',
 '317 S State St, Ann Arbor, MI 48104',
 '530 S State St, Ann Arbor, MI 48109',
 '701 Tappan Street Ann Arbor, MI 48109',
 '606 E Hoover Ave, Ann Arbor, MI 48104',
 '2375 Hubbard Rd, Ann Arbor, MI 48109',
 '401 Washtenaw Ave, Ann Arbor, MI 48109',
 '919 S University Ave, Ann Arbor, MI 48109']

In [14]:
lat, lon = get_cords(list(landmarks["Address"]))

In [121]:
landmarks.drop(columns=['Unnamed: 2', 'Unnamed: 3'], inplace=True)

In [16]:
lat[5] = 42.278046

In [17]:
lon[5] = -83.738220

In [127]:
landmarks["Latitude"] = lat

In [128]:
landmarks["Longitude"] = lon

In [19]:
landmarks

,Unnamed: 0,Landmark,Address,Latitude,Longitude
0,0,CCTC,"1109 Geddes Ave, Ann Arbor, MI 48109",42.278165,-83.734749
1,1,Pierpont,"2101 Bonisteel Blvd, Ann Arbor, MI 48109",42.291151,-83.717377
2,2,Stadium,"1201 S Main St, Ann Arbor, MI 48104",42.265865,-83.748684
3,3,Walgreens on State Street,"317 S State St, Ann Arbor, MI 48104",42.278707,-83.740932
4,4,Union,"530 S State St, Ann Arbor, MI 48109",42.275177,-83.741517
5,5,Ross,"701 Tappan Street Ann Arbor, MI 48109",42.278046,-83.738220
6,6,IM,"606 E Hoover Ave, Ann Arbor, MI 48104",42.269382,-83.749068
7,7,NCRB,"2375 Hubbard Rd, Ann Arbor, MI 48109",42.295156,-83.714627
8,8,CCRB,"401 Washtenaw Ave, Ann Arbor, MI 48109",42.281104,-83.733603
9,9,UGLI,"919 S University Ave, Ann Arbor, MI 48109",42.275654,-83.737176

In [57]:
def get_cords(x):
    lat = []
    lon = []
    geolocator = Nominatim(user_agent="specify_your_app_name_here")
    #counter = 0
    #total = len(x)
    for i in x:
        #counter += 1
        
        try:
            if "ann arbor" not in x:
                i += " ann arbor"
            location = geolocator.geocode(i)
            lat.append(location.latitude)
            lon.append(location.longitude)
        except:
            lat.append("NaN")
            lon.append("NaN")
        print(i)
    return(lat,lon)

In [29]:
df = pd.read_csv('cleandata.csv', index_col="Unnamed: 0")

In [30]:
df.columns

Index(['address', 'price'], dtype='object')

In [31]:
df.head()

                address   price
0  3050 birch hollow dr  1095.0
1          912 rose ave  2000.0
3     1505 natalie lane  1385.0
4     1505 natalie lane  1185.0
6     1505 natalie lane  1375.0

In [34]:
addresses = df["address"]
addresses.count()

6917

In [37]:
cut_addresses = list(addresses[:2000])

In [38]:
lat, lon = get_cords(cut_addresses)

In [46]:
x = 145
print(lat[x], lon[x],cut_addresses[x])

42.6764476 -83.2686571 2911 bynan

In [58]:
test_addys = ['1505 natalie lane','406 montgomery','2911 bynan']

In [59]:
a, b = get_cords(test_addys)

1505 natalie lane ann arbor
406 montgomery ann arbor
2911 bynan ann arbor

In [56]:
print(a,b)

['NaN', 'NaN', 'NaN'] ['NaN', 'NaN', 'NaN']

In [62]:
i = '1505 natalie lane ann arbor'
#geolocator = Nominatim(user_agent="specify_your_app_name_here")
#location = geolocator.geocode(i)
#print(location.latitude)
#print(location.longitude)

In [71]:
lat_2 = pd.Series(lat)
lon_2 = pd.Series(lon)

In [72]:
lat_2.describe()

count     2000
unique     264
top        NaN
freq       791
dtype: object

In [75]:
#lat_2.head(100),lon_2.head()

In [77]:
x = 500
print(lat_2[x], lon_2[x],cut_addresses[x])

51.5290971 0.0317683 1837 davis st.

In [83]:
new_cut = df[:2000]

                address   price
0  3050 birch hollow dr  1095.0
1          912 rose ave  2000.0
3     1505 natalie lane  1385.0
4     1505 natalie lane  1185.0
6     1505 natalie lane  1375.0

In [88]:
new_cut["Latitude"] = lat_2
new_cut["Longitude"] = lon_2

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [89]:
new_cut.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2000 entries, 0 to 3368
Data columns (total 4 columns):
address      2000 non-null object
price        2000 non-null float64
Latitude     1148 non-null object
Longitude    1148 non-null object
dtypes: float64(1), object(3)
memory usage: 78.1+ KB

In [91]:
new_cut.to_csv("initial_attempt.csv")